<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pos.printer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:label="POS Printer"
            android:allowBackup="true"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.DeviceDefault">

        <service
                android:name=".OrderService"
                android:exported="false"
                android:foregroundServiceType="dataSync" />

        <receiver
                android:name=".BootReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
